

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.header{
   max-width: 90%;
   margin: 0 auto;
}
.header__section{
    display: flex;
}
.header__sm{
    width: 160px;
    height: 45px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}.header__op4,.header__op5,.header__op6,.header__op7{
    margin-left: 3px;
}
.header__sm{
    border-bottom: 1px solid grey;
}

.header__sm1{
    width: 160px;
    height: 43px;
    background-color:white;
    border-top: 1.5px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    // margin-left: 3px;
}

.header__op7{
    width: 300px !important;

}
.header__op7 > input{
    width: 280px !important;
    margin: 0 auto;
    outline: none;
    border: none;
    height: 27px;
    text-indent: 5px;
}
.body__section{
    max-width: 65%;
    margin: 0 auto;
    margin-top: 50px;
}
.body__section__3{

    display: flex;
    margin-top: 15px;

}
.body__section__3__1{
    color: black;
    font-weight: bold;
}
.body__section__3__2{
    display: flex;
    justify-content: space-around !important;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-left: 30px;
   
}


.body__section__3__2__2{
    margin-left: 250px;
}
.body__section__3__2__3,.body__section__3__2__4,.body__section__3__2__5{
    margin-left: 60px;
}
.body__section__3__2__6{
    margin-left: 60px;
}


// body section 4
.body__section__4{

    display: flex;
    margin-top: 25px;

}
.body__section__4__1{
    color: black;
    font-weight: bold;
}
.body__section__4__2{
    display: flex;
    justify-content: space-around !important;

    margin-left: 45px;
   
}
.margin-check {
    display: inline-block;
    position: relative;
  }
  
  .margin-check:after {
    position: absolute;
    content: '';
    border-bottom: 1px solid black;
    width: 100%;
    transform: translateX(-50%);
    bottom: -15px;
    left: 50%;
  }
.body__section__4__2__2{
    margin-left: 190px;
}
.body__section__4__2__3{
    margin-left: 35px;
}
.body__section__4__2__5{
    margin-left: 185px;
}

.body__section__4__1{
    width: 25px;
    height: 25px;
    background-color: green;
}
.body__section__4__1__light{
    width: 25px;
    height: 25px;
    background-color: lightgray;
}

.body__section__4__2__6{
    margin-left: 65px;
}
.body__section__n{
    margin-top: 100px;

}
.body__section__f{
    margin-top: 100px;
}
.body__section__4__2__5__light{
    margin-left: 215px !important;
}